.task__newButtons {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 992px) {
    .task__hideOrShowAllDone {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        margin: 5px;
    };
}

.task__hideOrShowAllDone {
    background: transparent;
    border: none;
    color: teal;
    transition: 1s;
}

.task__hideOrShowAllDone:hover {
    color: rgb(0, 179, 179)
}

@media (max-width: 992px) {
    .task__markAllDone {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        margin: 5px;
    };
}

.task__markAllDone {
    background: transparent;
    border: none;
    color: teal;
    transition: 1s;
}

.task__markAllDone:hover {
    color: rgb(0, 179, 179)
}

.task__markAllDone:disabled {
    color: rgb(202, 202, 202);
}