.button__newButtons {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 992px) {
    .button__hideOrShowAllDone {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        margin: 5px;
    };
}

.button__hideOrShowAllDone {
    background: transparent;
    border: none;
    color: teal;
    transition: 1s;
}

.button__hideOrShowAllDone:hover {
    color: rgb(0, 179, 179)
}

@media (max-width: 992px) {
    .button__markAllDone {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        margin: 5px;
    };
}

.button__markAllDone {
    background: transparent;
    border: none;
    color: teal;
    transition: 1s;
}

.button__markAllDone:hover {
    color: rgb(0, 179, 179)
}

.button__markAllDone:disabled {
    color: rgb(202, 202, 202);
}